.centeredCard {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3%;
  width: 100%;
  max-width: 64rem;
  padding-bottom: 32px;
}

.gradientSection {
  background: linear-gradient(to bottom, #F0F7FF 0%, #E1E9F1 100%);
  max-height: 85vh;
}

.chatScroll {
  overflow-y: auto;
  flex: 1;
}

.imagePreviewBlur {
  transition: filter 0.2s;
}

.imagePreviewBlur:hover {
  filter: blur(2px);
}

.xIconLarge {
  width: 90%;
  height: 90%;
}

.dropzone {
  transition: background-color 0.2s;
}

.dropzone:hover {
  background-color: #f3f4f6; /* Tailwind gray-100 */
  cursor: grab;
}

.dropzone:active {
  cursor: grabbing;
}
